@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center" style="background-color:pink">
            <h1 class="display-4"><b>Welcome User</b></h1>
            <h4>Login Now</h4>
    </div>
